:root{
    --largura-padrao: 1000px;
    --primeira-cor:#FFCA3A;
    --segunda-cor:#0063A6;
    --primeira-cor-mais-clara: #ffca3ab8;
    --segunda-cor-mais-clara: #0064a67c;
}

* {
    margin: 0px;
    box-sizing: border-box;
}

body {
    font-family: "Roboto Condensed";
}

header {
    display: flex;
    justify-content: center;
    height: 80px;
    text-transform: uppercase;
    padding: 70px;

}

/* ----- AQUI FICA O LOGOTIPO ------  */

.containerHeader{
    display: flex;
    justify-content: space-between;
    width: var(--largura-padrao);
}

.logotipo{
    display:flex;
    align-items: center;
    font-family: "Oswald";
    flex: 1;
}


.containerTextologo{
    display: flex;
    flex-direction: column;

}

.tituloLogo{
    font-size: 45px;
    font-weight: bold;
    color: var(--segunda-cor);
}

.subtituloLogo{
    font-size: 15px;
    color: #000;

}

/* ----- AGORA VEM A PARTE DO MENU ---------- */

.containerMenu{
    display: flex;
    align-items: center;
    position:relative;
    right: 30px;
    flex: 1
}

nav ul, nav li{
    list-style: none;
    margin: 0px;
    padding:0px;
}

nav ul{
    display:flex;
}

nav a{
    display:block;
    /* essa configuração aqui faz com que voce consiga colocar um padding nos itens do menu */
    padding:15px;
    text-decoration: none;
    /* Isso tira a linha azul que fica em volta do link */
    color:#000;
    font-weight: bold;
}

nav a:active{
    color: var(--primeira-cor);
}

.paginaAtual, nav a:hover{
    color: var(--segunda-cor);
    /* Isso adiciona uma cor diferente na página atual (que é definida por uma class no HTML) e quando se passa o mouse etc */
}

nav a:active{
    color: var(--primeira-cor);
    transition: 0.4s
}

.logotipo:hover{
    opacity: 80%;
    transition: 2s;
}



/* ----------Aqui a parte do banner------------ */

@keyframes animacaoBanner {
    from {
        transform: translateX(-10%);
        opacity: 0;
    }
    to {
        transform: translateX(0%);
        opacity: 1;
    }
  
  }

#bannerHome{
    background-image:url("../images/backgroundHome.png");
    background-position: center;
    background-size: cover;
    height: 500px;
    display: flex;
    justify-content: center;
}

.containerBanner{
    width: var(--largura-padrao);
}

mark{
    background-color: var(--primeira-cor);
    text-transform: uppercase;
    line-height: 1.4;
}

.containerTextoBanner{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 500px;
    animation: animacaoBanner 3s 1;
}

.textoBanner{
    flex:1;
    padding: 5%;
    font-family: "Oswald";

}

.fraseBanner mark{
    letter-spacing: 1px;
}

blockquote mark{
    font-weight: bold;
}


/* Abaixo, é referente ao conteúdo da página principal */
#corpoHome{
    display: flex;
    justify-content: center;
}

.containerCorpo{
    width: var(--largura-padrao);
    display: flex;
    flex-direction: row;
    padding: 10px;

}

#containerNoticias{
    flex: 2;
}

#corpoHome aside{
    flex: 1;
    height:300px;

}

#containerNoticias, #containerAside{
    margin: 10px;
    max-width: 730px;
}

#containerAside{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.boxAside{
    margin-bottom:30px;
}

.tituloBoxes{
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    padding: 10px;
    text-align: center;
    
}

aside .tituloBoxes{
    background-color: var(--primeira-cor-mais-clara);
}

.linksContato{
    display: flex;
    justify-content: space-evenly;
    padding: 0px 20px;
}

.linksContato a:hover{
    opacity: 70%;
    transition: 0.8s;
}

#containerNoticias .tituloBoxes{
    background-color: var(--segunda-cor-mais-clara);
}

.fundoCinzaBoxes{
    background-color: #FAFAFA;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    padding: 20px;
    text-align: justify;
}

article{
    display:flex;
    margin: 10px;
    align-items: center;
}

.separadorNoticias{
    border-bottom: solid 1px rgba(165, 165, 165, 0.629);
    margin: 20px 0px 20px 0px;
}

.boxFotoNoticia{
    flex: 1;
}

.fotoNoticia{
    width: 100%;
    min-width: 180px;
    opacity: 85%;
    object-fit: cover;
}

.boxNoticia{
    flex: 2;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.tituloNoticia{
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.fundoCinzaBoxes #imagemDiretor{
    width: 100%;
    opacity: 85%;
}

#textoQuemSomos figcaption{
    text-align: center;
}

/********* ABAIXO, É REFERENTE AO RODAPÉ **********/

.rodape{
    background-color: var(--segunda-cor);
    color: white;
    padding: 20px;
    font-size: 12px;
    text-align: center;
    line-height: 1.5;
}

/********* ABAIXO, É REFERENTE AO banner das paginas sem ser home **********/

#bannerPaginas{
    background-image:url("../images/backgroundTermos.png");
    background-position: center;
    background-size: cover;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

#bannerPaginas .containerTextoBanner{
    animation: fadeIn 2s;

}

#bannerPaginas .textoBanner{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* -------- MAIORIA ABAIXO DA PÁGINA FORMULARIO ------------ */

.tituloAvulso{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
    color: var(--segunda-cor);
}

.textoOBS {
    color: rgb(131, 0, 0);
    padding: 0px 0px 0px 20px;
    font-size: 10px;

}

h1 {
    letter-spacing: 4px;
    margin: 0px;
}

h2 {
    margin:0;
    padding: 0;
    letter-spacing: 1px;
    font-size: 20px;
    text-transform: uppercase;
    font-family: "Oswald";
}

/* Formulario  */

form{
    margin-left: 5%;
    margin-right: 5%;
}

label{
    display:block;
    margin-bottom: 20px;
}
legend {
    display:none;
}
.containerFormulario{
    display: flex;
    justify-content: center;
}
.containerFormularioFlex{
    width: var(--largura-padrao);
    display:flex;
    flex-direction: row;
}

.itensFlexFormulario{
    flex: 1;
    margin: 0px 2%;
    padding: 8px;
}

.itensFlexFormulario .fundoCinzaBoxes{
    height: 85%;
}

.itensFlexFormulario .tituloBoxes{
    background-color: var(--segunda-cor-mais-clara);
}

fieldset{
    margin: 0px;
    border: 0px solid rgb(62, 62, 62);
}

input[type=text],input[type=date], select, textarea{
    border: 1px solid #CCC;
    outline:0;
}

.radioEstadoCivil{
    display: inline-block;
}


.inputTexto, .selectRemix, .textareaAntiLeguminosa{
    width: 100%;
}

/* Mudando o padrão do input file:  */

#textoUploadFoto{
    display: inline-block;
    padding-right: 7px;
}

input[type="file"] {
    display: none;
}

.inputUploadFoto{
    border: 1px solid #000;
    display: inline-block;
    padding: 1px 15px;
    cursor: pointer;
    text-transform: uppercase;
    font-family: "Oswald";
    font-size: 10px;
}

.inputUploadFoto:hover{
    background-color: rgb(89, 89, 89);
    color:#FFF;
    border: 1px solid #FFF;
}

/* ------------------------------- */

.textareaAntiLeguminosa{
    margin: 5px 0px 0px 0px;
    resize: none;
    height: 150px;

}

.termosECondicoesFormulario{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.termosLink{
    color:#000;
}

input[type=submit]{
    padding:10px;
    border: 1px solid #000;
    color:#000;
    background-color: #FFF;
    font-family: 'Oswald';
    text-transform: uppercase;

}

input[type=submit]:hover{
    background-color: rgb(89, 89, 89);
    color:#FFF;
    border: 1px solid #FFF;
    cursor: pointer;
    
}


/* ------------ Página da programação!!!----------- */

.tabelaPrimeiraSemana{
    display:flex;
    justify-content: center;
}

table{
    border-collapse: collapse;
    table-layout: fixed;
}

thead{
    font-family: "Oswald";
    text-transform: uppercase;
}

.tituloTabela{
    font-size: 20px;
    border-bottom: 2px solid #000;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    padding: 10px;
    text-align: center;
    background-color: var(--segunda-cor-mais-clara);
}

.subtituloTabela, .subtituloVazioTabela{
    background-color:#CCC;
}

td, th {
    margin: 0px;
    padding: 7px;
}

.colunaHorario{
    text-align: center;
    font-size: small;
    font-weight: bold;
    
}

.conteudoTabela, .subtituloTabela{
    max-width: 150px;
}

tbody tr:nth-child(even){
    background-color: rgba(204, 204, 204, 0.404);
}

tbody tr:hover{
    background-color: var(--primeira-cor-mais-clara);
}

.tabelaAlmoco{
    text-align: center; 
    letter-spacing: 4px;
    text-transform: uppercase;
}

.fimDeTabela{
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    background-color: var(--segunda-cor-mais-clara);
}

/* Abaixo, é referente aos termos e condições */


.containerMasterTermosECondicoes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.containerDosTermosECondicoes{
    width: var(--largura-padrao);
    display: flex; 
    justify-content: center;
}

.containerDosTermosECondicoes .tituloBoxes{
    background-color: var(--segunda-cor-mais-clara);
}

.containerInternoTermosECondicoes{
    width: 550px;
}

.containerBoxTermosECondicoes{
    display: flex;
    justify-content: center;
    align-items: center;
}

.boxTermosECondicoes{
    overflow-y:scroll; 
    width:100%; 
    height:450px; 
    text-align: justify;
}

::-webkit-scrollbar {
    width: 3px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
}
 
::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}


@media (max-width:900px) {

    .tituloLogo{
        font-size: 25px;
        font-weight: bold;
        color: var(--segunda-cor);
    }

    .subtituloLogo{
        font-size: 13px;
    }

    .logotipo{
        margin-right: 50px;
    }

    nav li {
        font-size: 13px;
    }

    .logotipo img{
        width: 50px;
    }

    header {
        padding: 50px;
    }

    .containerCorpo{
        flex-direction: column;
        align-items: center;
    }

    #containerNoticias{
        flex:none;
    }

    #containerAside{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #textoQuemSomos{
        display: flex;
        padding: 0px 5px;
    }

    #quemSomosContainerInterno1{
        padding: 0px 5px;
        flex: 1;
        position: relative;
        top: 10px;
        align-self: center;
    }

    figcaption{
        font-size: 12px;
    }

    #quemSomosContainerInterno2{
        padding: 20px;
        flex: 3;
    }

    .contato{
        min-width: 200px;
    }

    #bannerHome, .containerTextoBanner{
        height: 300px;
    }

    .textoBanner h1 {
        font-size: 25px;
    }

    .textoBanner blockquote{
        font-size: 15px;
    }
    


}

@media (min-width: 700px) and (max-width:900px){
    .tituloNoticia{
        font-size: 20px;
        margin-bottom: 20px;
    }

    .boxNoticia{
        margin-left: 10px;
    }

}
